#mentions.transitions-enabled
	- @mention.each do |mention|
		.box.panel.panel-default
			= link_to (image_tag mention.image.url), mention
			.panel-body
				%h2= link_to mention.title, mention
				%p.user
				Submitted by
				= mention.user.email